@import "/styles/skeleton.css";
@import "/styles/base.css";
@import "/styles/bootstrap.less";

a, a:visited {
	color: #227CE8;
	&:hover { color: black; }
}

div.main { padding-top: 60px; }

div.header {
	position: fixed;
	width: 160px;
	text-align: right;
	div.name {
		font-weight: bold;
		a {
			color: #181818;
			text-decoration: none;
			span { display: block; }
			span.first { font-size: 34px; line-height: 34px; letter-spacing: -1px; }
			span.last { font-size: 16px; }
		}
	}
	p.about { font-size: 13px; line-height: 16px; }
}

div.index {
	span.date { font-family: "Monaco", Courier New, monospace; font-size: 80%; color: gray; }
}
